@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
:root {
  --heading-color: #242463;
  /*For Headings*/
  --background-color: #faaf40;
  /*For backgrounds*/
  --text-color: #ee4036;
  /*For texts*/
  --extra-color: #69678b;
  /*Extra*/
  --white: #FFFFFF;
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card{
  width: 100%;
}

.card-body .card-img{
  width: 60%;
}

.card-body i,
.card-body h5 {
    display: inline-block;
    margin-right: 12px;
    color: var(--heading-color);
}

.btn {
  color: var(--text-color);
  border-color: var(--background-color) !important;
}

.btn:hover {
  color: var(--text-color);
background-color: var(--background-color);
}
