@charset "UTF-8";
:root {
  --heading-color:#242463 ; /*For Headings*/
  --background-color: #faaf40; /*For backgrounds*/
  --text-color: #ee4036; /*For texts*/
  --extra-color:#69678b ; /*Extra*/
  --white: #FFFFFF; 
}

.nav-item a{
    color: var(--text-color) !important;
}
.nav-item a:hover{
    color: var(--background-color) !important;
}
.active a{
    color: var(--extra-color) !important;
}

.user a {
    color: var(--text-color);
}

.user a:hover {
    text-decoration: none;
    color: var(--background-color);
}


footer{
    background-color: var(--heading-color);
}