@charset "UTF-8";
:root {
  --heading-color:#242463 ; /*For Headings*/
  --background-color: #faaf40; /*For backgrounds*/
  --text-color: #ee4036; /*For texts*/
  --extra-color:#69678b ; /*Extra*/
  --white: #FFFFFF; 
}

.intro{
  overflow: hidden;
  position: relative;
  background-color: var(--background-color);
}
.intro-bg{
  opacity: 0.7;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
.intro-content{
  position: relative;
}

.intro-content .btn{
  color: var(--white);
  background-color: var(--background-color);

}
.card-img-top {
  height: 100%;
  max-height: 350px; /* Set max-height as needed */
  object-fit: cover;
  overflow: hidden;
}

.card-body {
  height: 200px; /* Set height as needed */
}

.btn {
  color: var(--text-color);
  border-color: var(--background-color) !important;
}

.btn:hover {
  color: var(--text-color);
background-color: var(--background-color);
}



hr.style { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr.style:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}



@media only screen and (max-width: 1026px){
  .intro-bg{
    display: none;
  }
  .intro-content h2{
    color: var(--heading-color);
  }
   .intro-content p {
    color: var(--text-color);
  }
  
}